.platform_icon[data-platform="PC"] {
  color: #0078d7;
}
.platform_icon[data-platform="PlayStation 5"],
.platform_icon[data-platform="PlayStation 4"],
.platform_icon[data-platform="PlayStation 3"],
.platform_icon[data-platform="PS-Vita"] {
  color: #003791;
}
.platform_icon[data-platform="Xbox Series S/X"],
.platform_icon[data-platform="Xbox One"] {
  color: #107c10;
}
.platform_icon[data-platform="Xbox 360"] {
  color: #a0d034;
}
.platform_icon[data-platform="Nintendo Switch"],
.platform_icon[data-platform="Nintendo 3DS"],
.platform_icon[data-platform="Nintendo DS"] {
  color: #e60012;
}
.platform_icon[data-platform="Wii U"] {
  color: #62b5e5;
}
.platform_icon[data-platform="Wii"] {
  color: #8b8b8b;
}
.platform_icon[data-platform="GameCube"] {
  color: #6a5acd;
}
.platform_icon[data-platform="iOS"] {
  color: #000;
}
.platform_icon[data-platform="Android"] {
  color: #3ddc84;
}
.platform_icon[data-platform="macOS"] {
  color: #999;
}
.platform_icon[data-platform="Linux"] {
  color: #ffcc00;
}
.platform_icon[data-platform="Web"] {
  color: #808080;
}
